<!--
/**
* Copyright © Evalent Group AB, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<div id="ecsterpay-checkout-right" class="ecsterpay-checkout-right">
    <div class="ecsterpay-checkout-payment-step-title step-title" data-bind="i18n: 'Payment'" data-role="title"></div>    
    <div id="checkout-step-payment" class="step-content payment" data-role="content">    
        <div id="ecster-pay-ctr" data-bind="afterRender: loadJsAfterKoRender"></div>
    </div>    
</div>